p {
  img, svg {
  vertical-align: middle;
  max-width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-end-start-radius: 5px;
  border-end-end-radius: 5px;
  border-start-end-radius: 5px;
  border-start-start-radius: 5px;
  }
}

div.impt {
  border-left: 10px solid #fbaf43;
  border-radius: 4px;
  background: #f0efec;
  color: #c97500;
  padding: 20px 20px 20px 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-end-start-radius: 0px;
  border-end-end-radius: 5px;
  border-start-end-radius: 20px;
  border-start-start-radius: 5px;
}

div.imagetitle {
  border-left: 8px solid #374453;
  border-radius: 4px;
  background: #edeaea;
  color: #374453;
  padding: 5px 20px 5px 20px;
  margin-bottom: 0px;
  margin-top: 20px;
  border-end-start-radius: 0px;
  border-end-end-radius: 0px;
  border-start-end-radius: 10px;
  border-start-start-radius: 5px;
}

mark.hl {
  background-color: #e4e2dc;
  color: #E05535;   
}

span.headers {
  color:#374453
}