$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

p {
  img,
  svg {
    vertical-align: middle;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

.note,
.nota,
.remarque {
  position: relative;
  margin-bottom: 1000px;
}
.note,
.nota,
.remarque {
  border-left: 10px solid #fbaf43;
  border-radius: 4px;
  color: #c97500;
  padding: 46px 20px 20px 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-end-start-radius: 5px;
  border-end-end-radius: 10px;
  border-start-end-radius: 10px;
  border-start-start-radius: 5px;
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.note:before,
.nota:before,
.remarque::before {
  color: #c97500;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: absolute;
  top: 0;
}
.note:before {
  content: "NOTE";
}
.nota:before {
  content: "NOTA";
}
.remarque:before {
  content: "REMARQUE";
}

.success {
  position: relative;
  margin-bottom: 1000px;
}
.success {
  border-left: 10px solid #3eb715;
  border-radius: 4px;
  color: #3eb715;
  padding: 46px 20px 20px 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-end-start-radius: 5px;
  border-end-end-radius: 10px;
  border-start-end-radius: 10px;
  border-start-start-radius: 5px;
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.success:before {
  color: #3eb715;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: absolute;
  top: 0;
}
.success:before {
  content: "SUCCESS";
}

.warning,
.aviso,
.avertissement {
  position: relative;
  margin-bottom: 1000px;
}
.warning,
.aviso,
.avertissement {
  border-left: 10px solid #c84420;
  border-radius: 4px;
  color: #c84420;
  padding: 46px 20px 20px 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-end-start-radius: 5px;
  border-end-end-radius: 10px;
  border-start-end-radius: 10px;
  border-start-start-radius: 5px;
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.warning:before,
.aviso:before,
.avertissement:before {
  color: #c84420;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: absolute;
  top: 0;
}
.warning:before {
  content: "🛑 WARNING!";
}
.aviso:before {
  content: "🛑 AVISO!";
}
.avertissement:before {
  content: "🛑 AVERTISSEMENT!";
}

div.imagetitle {
  margin-left: auto;
  margin-right: auto;
  padding: 5px 5px 5px 5px;
  margin-bottom: 5px;
  margin-top: 30px;
  font-size: 11pt;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

.tip,
.conseil,
.consejo {
  position: relative;
  margin-bottom: 10px;
}
.tip,
.conseil,
.consejo {
  border-left: 10px solid #0e7ac3;
  border-radius: 4px;
  color: #0e7ac3;
  padding: 45px 20px 20px 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-end-start-radius: 5px;
  border-end-end-radius: 10px;
  border-start-end-radius: 10px;
  border-start-start-radius: 5px;
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.tip:before,
.conseil:before,
.consejo {
  color: #0e7ac3;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: absolute;
  top: 0;
}
.tip:before {
  content: "TIP";
}
.conseil:before {
  content: "CONSEIL";
}
.consejo:before {
  content: "CONSEJO";
}

h1 {
  color: #f2913d;
}

h2 {
  margin-top: 25px;
}

h3 {
  margin-top: 15px;
}

h4 {
  margin-top: 12px;
}

h5 {
  margin-top: 5px;
}

code {
  background-color: #fafafa;
  color: #e05535;
  font-size: 14px;
  padding-left: 1px;
  padding-right: 1px;
}

th {
  color: #f2913d;
}

table {
  margin-top: 0px;
}

.omsupdate,
.mise-a-jour,
.noticia {
  background-color: #ffff;
  position: relative;
  margin-bottom: 1000px;
}
.omsupdate,
.mise-a-jour,
.noticia {
  border-left: 8px solid #374453;
  color: #374453;
  padding: 40px 10px 10px 60px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-image: url("/docs/icon.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 1.2% 50%;
}
.omsupdate:before,
.mise-a-jour:before,
.noticia:before {
  color: #374453;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: absolute;
  top: 0;
}
.omsupdate:before {
  content: "UPDATE";
}
.mise-a-jour:before {
  content: "MISE À JOUR";
}
.noticia:before {
  content: "NOTICIA";
}

.markdown-body h1:hover .zola-anchor,
.markdown-body h2:hover .zola-anchor,
.markdown-body h3:hover .zola-anchor,
.markdown-body h4:hover .zola-anchor,
.markdown-body h5:hover .zola-anchor,
.markdown-body h6:hover .zola-anchor {
  visibility: visible;
}

.zola-anchor {
  font-size: 1rem;
  margin-left: 8px;
  vertical-align: middle;
  visibility: hidden;
}

body.dark .flagster img {
  background: #dee2e6;
  border-radius: 10px;
}

body.dark .accordion-item {
  background-color: $gray-800;
  border-color: rgba(142, 215, 251, 0.125);
}

body.dark .accordion-button {
  border: 1px solid rgba(29, 45, 53, 0.125);
}

body.dark .accordion-button {
  background-color: $gray-800;
}

body.dark .accordion-button:not(.collapsed) {
  color: #da8337;
  background-color: #fef4ec;
}

a.homepage-link {
  color: #000;
  text-decoration: none;
}

a.homepage-link:hover {
  color: #f2913d;
  text-decoration: underline;
}
