{#- This macro outputs a list of pages in French that is used to pass into PrincePDF for PDF generation -#}
{%- macro pdf_export(current_section) -%}
{%- set index_path = current_section ~ "/_index.fr.md"  | trim_start_matches(pat="/") -%}
{%- set index = get_section(path=index_path) -%}
{%- if index.pages %}
	{% for page in index.pages %}
{{ page.permalink | safe}}
	{% endfor %}
{%- endif -%}

{%- if index.subsections -%}
	{%- for s in index.subsections -%}
		{%- set subsection = get_section(path=s) -%}
		{%- if subsection.translations %}
			{%- for page in subsection.translations -%}
					{%- if page.lang == "fr" %}
					{#- Leave the next line not indented the missing "-" at the end of this comment means whitespace is not being removed so we get a line break #}
{{ page.permalink | safe}}
					{%- endif -%}
			{%- endfor -%}
	{%- endif -%}
	{%- endfor %}
{%- endif -%}

{%- endmacro -%}
