{% macro search_script(current_section) %} {%- if lang == "en" -%} {%- set index_path =
current_section ~ "/_index.md" | trim_start_matches(pat="/") -%} {%- else -%} {%- set index_path =
current_section ~ "/_index." ~ lang ~ ".md" | trim_start_matches(pat="/") -%} {%- endif %} {%- set
index = get_section(path=index_path) -%}

<script>
    var searchDocuments = [
    {%- if index.pages %}
      {%- for page in index.pages  -%}
        {%- if page.slug != "search" %}
        {
          id: {{ page.permalink  | json_encode | safe }},
          title: {{ page.title | json_encode  | safe}},
          permalink: {{ page.permalink | json_encode | safe }}
        },
        {%- endif -%}
      {%- endfor %}
    {%- endif -%}

    {%- if index.subsections -%}
    	{%- for s in index.subsections -%}
    		{%- set subsection = get_section(path=s) -%}
    		{%- if subsection.pages %}
    			{%- for page in subsection.pages -%}
        {
          id: {{ page.permalink  | json_encode | safe }},
          title: {{ page.title | json_encode  | safe}},
          permalink: {{ page.permalink | json_encode | safe }}
        },
    			{%- endfor -%}
    	{%- endif -%}
    	{%- endfor %}
    {%- endif -%}
    {
      id: "dummy-id",
      title: "Dummy Title",
      permalink: "/dummy-permalink/"
    }
    ];

  const highlight = (text, term) => {
    const regex = new RegExp(`(${term})`, 'gi');
    return text.replace(regex, '<mark>$1</mark>');
  }

  const getSnippet = (text, query, length) => {
    const index = text.toLowerCase().indexOf(query.toLowerCase());
    if (index === -1) return '';

    const start = Math.max(0, index - length / 2);
    const end = Math.min(text.length, index + length / 2);

    return `...${text.slice(start, end)}...`;
  }

  const getSnippets = (text, query, length = 100, limit = 5) => {
    const snippets = [];
    let remainingText = text;
    let count = 0;

    while (count < limit) {
      const snippet = getSnippet(remainingText, query, length);
      if (!snippet) break;

      snippets.push(`<p class="search_snippet">${snippet}</p>`);
      const nextIndex = remainingText.toLowerCase().indexOf(query.toLowerCase()) + query.length;
      remainingText = remainingText.slice(nextIndex);
      count += 1;
    }

    return snippets.join('');
  }

  window.addEventListener('DOMContentLoaded', () => {
        const params = new URLSearchParams(window.location.search);
        const query = params.get('q');
        document.getElementById('userinput').value = query;

        const resultsContainer = document.getElementById('search-results');

        async function runSearch() {
          if (!query) return;

          const index = elasticlunr.Index.load(window.searchIndex);
          const results = index.search(query);

          if (results.length === 0) {
            resultsContainer.innerHTML = '<p>No results found</p>';
            return;
          }

          resultsContainer.innerHTML = '';
          const resultCount = document.createElement('p');
          let pageCount = 0;
          resultsContainer.appendChild(resultCount);

          // original teaser
          // var items = value.split(/\s+/);
          // then for a result:
            // d.innerHTML = makeTeaser(page.doc.body, items);

          results.forEach((result) => {
            // console.log(`finding doc for id: ${result.ref}`, result);
            const doc = searchDocuments.find((d) => d.id === result.ref);
            if (!doc) return;

            const li = document.createElement('li');
            const snippet = highlight(getSnippets(result.doc.body, query), query);
            li.innerHTML = `<a href="${doc.permalink}">${doc.title}</a><p>${snippet}</p>`;
            resultsContainer.appendChild(li);
            pageCount += 1;
          });
          const resultText = "{{ page.extra.results }}"
            .replace("{results}", "<b>" + results.length + "</b>")
            .replace("{query}", "<i>" + query + "</i>")
            .replace("{pages}", pageCount);
          resultCount.innerHTML = resultText;
        }

        runSearch();
      });
</script>
{% endmacro %} {% macro search_content(current_section) %}

<div class="wrap container" role="document">
  <div class="content">
    <div class="row flex-xl-nowrap">
      {{ macros_sidebar::docs_sidebar(current_section=current_section) }} {{
      macros_toc::docs_toc(page=page) }}
      <main class="docs-content col-lg-11 col-xl-9">
        {% for Translation in page.translations %}
        <div class="flagster" style="float: right; padding: 5px">
          <a
            href="{{Translation.permalink}}"
            title="Change language to {{Translation.lang}}"
            id="lang-{{Translation.lang}}"
            ><img src="/icons/{{trans(key="flag", lang=Translation.lang)}}" width="28">
          </a>
        </div>
        {% endfor %}

        <h1>{{ page.title }}</h1>
        <ul id="search-results">
          {{page.extra.teaser}}
        </ul>
      </main>
    </div>
  </div>
</div>

<script>
  const params = new URLSearchParams(window.location.search);
  const searchQuery = params.get("q");
  {% for Translation in page.translations %}
    document.getElementById("lang-{{Translation.lang}}").href = "{{Translation.permalink | safe}}?q=" + encodeURIComponent(searchQuery);
  {% endfor %}
</script>
{% endmacro %}
