#mermaid-1669068550213 {
  font-family: 'trebuchet ms', verdana, arial, sans-serif;
  font-size: 16px;
  fill: #333;
}
#mermaid-1669068550213 .error-icon {
  fill: hsl(207.8453038674, 87.4396135266%, 64.4117647059%);
}
#mermaid-1669068550213 .error-text {
  fill: rgb(170.1014492753, 85.0507246376, 11.3985507246);
  stroke: rgb(170.1014492753, 85.0507246376, 11.3985507246);
}
#mermaid-1669068550213 .edge-thickness-normal {
  stroke-width: 2px;
}
#mermaid-1669068550213 .edge-thickness-thick {
  stroke-width: 3.5px;
}
#mermaid-1669068550213 .edge-pattern-solid {
  stroke-dasharray: 0;
}
#mermaid-1669068550213 .edge-pattern-dashed {
  stroke-dasharray: 3;
}
#mermaid-1669068550213 .edge-pattern-dotted {
  stroke-dasharray: 2;
}
#mermaid-1669068550213 .marker {
  fill: #0b0b0b;
  stroke: #0b0b0b;
}
#mermaid-1669068550213 .marker.cross {
  stroke: #0b0b0b;
}
#mermaid-1669068550213 svg {
  font-family: 'trebuchet ms', verdana, arial, sans-serif;
  font-size: 16px;
}
#mermaid-1669068550213 .mermaid-main-font {
  font-family: 'trebuchet ms', verdana, arial, sans-serif;
  font-family: var(--mermaid-font-family);
}
#mermaid-1669068550213 .exclude-range {
  fill: #eeeeee;
}
#mermaid-1669068550213 .section {
  stroke: none;
  opacity: 0.2;
}
#mermaid-1669068550213 .section0 {
  fill: #f2913d;
}
#mermaid-1669068550213 .section2 {
  fill: #3e7bfa;
}
#mermaid-1669068550213 .section1,
#mermaid-1669068550213 .section3 {
  fill: white;
  opacity: 0.2;
}
#mermaid-1669068550213 .sectionTitle0 {
  fill: rgb(170.1014492753, 85.0507246376, 11.3985507246);
}
#mermaid-1669068550213 .sectionTitle1 {
  fill: rgb(170.1014492753, 85.0507246376, 11.3985507246);
}
#mermaid-1669068550213 .sectionTitle2 {
  fill: rgb(170.1014492753, 85.0507246376, 11.3985507246);
}
#mermaid-1669068550213 .sectionTitle3 {
  fill: rgb(170.1014492753, 85.0507246376, 11.3985507246);
}
#mermaid-1669068550213 .sectionTitle {
  text-anchor: start;
  font-family: 'trebuchet ms', verdana, arial, sans-serif;
  font-family: var(--mermaid-font-family);
}
#mermaid-1669068550213 .grid .tick {
  stroke: lightgrey;
  opacity: 0.8;
  shape-rendering: crispEdges;
}
#mermaid-1669068550213 .grid .tick text {
  font-family: 'trebuchet ms', verdana, arial, sans-serif;
  fill: #333;
}
#mermaid-1669068550213 .grid path {
  stroke-width: 0;
}
#mermaid-1669068550213 .today {
  fill: none;
  stroke: red;
  stroke-width: 2px;
}
#mermaid-1669068550213 .task {
  stroke-width: 2;
}
#mermaid-1669068550213 .taskText {
  text-anchor: middle;
  font-family: 'trebuchet ms', verdana, arial, sans-serif;
  font-family: var(--mermaid-font-family);
}
#mermaid-1669068550213 .taskTextOutsideRight {
  fill: #333;
  text-anchor: start;
  font-family: 'trebuchet ms', verdana, arial, sans-serif;
  font-family: var(--mermaid-font-family);
}
#mermaid-1669068550213 .taskTextOutsideLeft {
  fill: #333;
  text-anchor: end;
}
#mermaid-1669068550213 .task.clickable {
  cursor: pointer;
}
#mermaid-1669068550213 .taskText.clickable {
  cursor: pointer;
  fill: #003163 !important;
  font-weight: bold;
}
#mermaid-1669068550213 .taskTextOutsideLeft.clickable {
  cursor: pointer;
  fill: #003163 !important;
  font-weight: bold;
}
#mermaid-1669068550213 .taskTextOutsideRight.clickable {
  cursor: pointer;
  fill: #003163 !important;
  font-weight: bold;
}
#mermaid-1669068550213 .taskText0,
#mermaid-1669068550213 .taskText1,
#mermaid-1669068550213 .taskText2,
#mermaid-1669068550213 .taskText3 {
  fill: #fff;
}
#mermaid-1669068550213 .task0,
#mermaid-1669068550213 .task1,
#mermaid-1669068550213 .task2,
#mermaid-1669068550213 .task3 {
  fill: #f2913d;
  stroke: hsl(27.8453038674, 47.4396135266%, 49.4117647059%);
}
#mermaid-1669068550213 .taskTextOutside0,
#mermaid-1669068550213 .taskTextOutside2 {
  fill: #333;
}
#mermaid-1669068550213 .taskTextOutside1,
#mermaid-1669068550213 .taskTextOutside3 {
  fill: #333;
}
#mermaid-1669068550213 .active0,
#mermaid-1669068550213 .active1,
#mermaid-1669068550213 .active2,
#mermaid-1669068550213 .active3 {
  fill: hsl(27.8453038674, 87.4396135266%, 82.4117647059%);
  stroke: #f2913d;
}
#mermaid-1669068550213 .activeText0,
#mermaid-1669068550213 .activeText1,
#mermaid-1669068550213 .activeText2,
#mermaid-1669068550213 .activeText3 {
  fill: #333 !important;
}
#mermaid-1669068550213 .done0,
#mermaid-1669068550213 .done1,
#mermaid-1669068550213 .done2,
#mermaid-1669068550213 .done3 {
  stroke: grey;
  fill: lightgrey;
  stroke-width: 2;
}
#mermaid-1669068550213 .doneText0,
#mermaid-1669068550213 .doneText1,
#mermaid-1669068550213 .doneText2,
#mermaid-1669068550213 .doneText3 {
  fill: #333 !important;
}
#mermaid-1669068550213 .crit0,
#mermaid-1669068550213 .crit1,
#mermaid-1669068550213 .crit2,
#mermaid-1669068550213 .crit3 {
  stroke: #ff8888;
  fill: red;
  stroke-width: 2;
}
#mermaid-1669068550213 .activeCrit0,
#mermaid-1669068550213 .activeCrit1,
#mermaid-1669068550213 .activeCrit2,
#mermaid-1669068550213 .activeCrit3 {
  stroke: #ff8888;
  fill: hsl(27.8453038674, 87.4396135266%, 82.4117647059%);
  stroke-width: 2;
}
#mermaid-1669068550213 .doneCrit0,
#mermaid-1669068550213 .doneCrit1,
#mermaid-1669068550213 .doneCrit2,
#mermaid-1669068550213 .doneCrit3 {
  stroke: #ff8888;
  fill: lightgrey;
  stroke-width: 2;
  cursor: pointer;
  shape-rendering: crispEdges;
}
#mermaid-1669068550213 .milestone {
  transform: rotate(45deg) scale(0.8, 0.8);
}
#mermaid-1669068550213 .milestoneText {
  font-style: italic;
}
#mermaid-1669068550213 .doneCritText0,
#mermaid-1669068550213 .doneCritText1,
#mermaid-1669068550213 .doneCritText2,
#mermaid-1669068550213 .doneCritText3 {
  fill: #333 !important;
}
#mermaid-1669068550213 .activeCritText0,
#mermaid-1669068550213 .activeCritText1,
#mermaid-1669068550213 .activeCritText2,
#mermaid-1669068550213 .activeCritText3 {
  fill: #333 !important;
}
#mermaid-1669068550213 .titleText {
  text-anchor: middle;
  font-size: 18px;
  fill: #333;
  font-family: 'trebuchet ms', verdana, arial, sans-serif;
  font-family: var(--mermaid-font-family);
}
#mermaid-1669068550213 :root {
  --mermaid-font-family: 'trebuchet ms', verdana, arial, sans-serif;
}
