<style>
    body.dark text.taskTextOutside0, 
    body.dark text.taskTextOutside1, 
    body.dark text.taskTextOutside2, 
    body.dark text.taskTextOutside3 { fill: #eee!important; }
    body.dark .sectionTitle { fill: #f2913d!important; }
</style>
<div class="mermaid" align="center">
    %%{init: {"securityLevel": "loose", "theme":"base", "themeVariables": {"darkMode": false, "primaryColor": "#f2913d", "taskTextColor": "#fff", "sectionBkgColor": "#f2913d", "sectionBkgColor2": "#3e7bfa", "altSectionBkgColor": "white" }}}%%
    {{ body }}
</div>
