{% extends "base.html" %}

{% block seo %}
{{ super() }}
{% set title = "404 Page not found" %}

{% if config.title %}
{% set title_addition = title_separator ~ config.title %}
{% else %}
{% set title_addition = "" %}
{% endif %}

{% set description = config.description %}

{{ macros_head::seo(title=title, title_addition=title_addition, description=description, is_404=true) }}
{% endblock seo %}

{% block content %}
<div class="wrap container" role="document">
  <div class="content">
    <section class="section container-fluid mt-n3 pb-3">
      <div class="row justify-content-center">
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-10 col-xxl-8">
            <article>
              <h1 class="text-center">Page not found :(</h1>
              <p class="text-center">The page you are looking for doesn't exist or has been moved.</p>
              <p class="text-center">Use the search box in the top right of the page to find the latest docs.</p>
              <p class="text-center">If you are looking for translations of our legacy documentation try one of the
                links below</p>

              <div style="margin: auto; width: 50%;">
                <ul>

                  <li>es - <a href="https://wiki.msupply.foundation/es:mobile">Guía de Usuario - mSupply Móvil</a>
                  </li>
                  <li>fr - <a href="https://wiki.msupply.foundation/fr:mobile">Guide de l'utilisateur - mSupply
                      Mobile</a>
                  </li>
                  <li>pt - <a href="https://wiki.msupply.foundation/pt:mobile">Guia do usuário - mSupply Mobile</a>
                  </li>

                  <li>es - <a href="https://wiki.msupply.foundation/es:dashboard">Guía de Usuario del Tablero
                      mSupply</a>
                  </li>
                  <li>fr - <a href="https://wiki.msupply.foundation/fr:dashboard">Manuel d'utilisateur du tableau de
                      bord
                      de mSupply</a></li>
                  <li>pt - <a href="https://wiki.msupply.foundation/pt:dashboard">Guía de Usuario del Tablero
                      mSupply</a>
                  </li>
                </ul>
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock content %}