/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("Montserrat"),
    url("fonts/vendor/montserrat/montserrat.woff2") format("woff2"),
    url("fonts/vendor/montserrat/montserrat.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-500 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local("Montserrat"),
    url("fonts/vendor/montserrat/montserrat-500.woff2") format("woff2"),
    url("fonts/vendor/montserrat/montserrat-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local("Montserrat"),
    url("fonts/vendor/montserrat/montserrat-700.woff2") format("woff2"),
    url("fonts/vendor/montserrat/montserrat-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-italic - latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    local("Montserrat"),
    url("fonts/vendor/montserrat/montserrat-italic.woff2") format("woff2"),
    url("fonts/vendor/montserrat/montserrat-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-500italic - latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src:
    local("Montserrat"),
    url("fonts/vendor/montserrat/montserrat-500italic.woff2") format("woff2"),
    url("fonts/vendor/montserrat/montserrat-500italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700italic - latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src:
    local("Montserrat"),
    url("fonts/vendor/montserrat/montserrat-700italic.woff2") format("woff2"),
    url("fonts/vendor/montserrat/montserrat-700italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
